<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h2>Contact App</h2>
        <div class="d-flex">
            <button (click)="clickAddConto()" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add contact</button>
            <button routerLink="/login" class="btn btn-danger mx-3">Logout</button>
        </div>
    </div>
</nav>
<!-- <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">

    </div>
</div> -->
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of allContactData">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.mobile}}</td>
            <td>
              <button (click)="onEditConto(data)" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>&nbsp;
              <button (click)="deleteConto(data)" class="btn btn-info">Delete</button>&nbsp;
              
            </td>
        </tr>
    </tbody>
</table>

<!-- Button trigger modal -->
<!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label  class="form-label">Name</label>
                  <input type="text" formControlName="name" class="form-control" placeholder="Input Name" id="exampleInputEmail1" aria-describedby="emailHelp">

                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Email Id</label>
                  <input type="email" formControlName="email"class="form-control" placeholder="Input Email" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Mobile</label>
                    <input type="email" formControlName="mobile" class="form-control" placeholder="Input Mobile" id="exampleInputPassword1">
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button *ngIf="showAdd" type="button" class="btn btn-primary" (click)="addConto()">Add Details</button>
          <button *ngIf="showbtn" type="button" class="btn btn-primary" (click)="updateConto()">Update Details</button>
        
        </div>
      </div>
    </div>
  </div>